h1 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
}

.Flexbox-container {
    display:flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    color: black;
}

body{
    background-color: grey;
}

h3{
    text-align: center;
}

form{
    text-align: center;
}