<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Car Inventory</title>
</head>
<body>
   <h1>Welcome to The Car Inventory</h1>
    <div class="Flexbox-container">
        <div class="flexbox-item flexbox-item-1">Sign In</div>
        <div class="flexbox-item flexbox-item-2">Sign Up</div>
        <div class="flexbox-item flexbox-item-3">Home</div>
        <div class="flexbox-item flexbox-item-4">Log Out</div>
        <div class="flexbox-item flexbox-item-5">Search`</div>
    </div>
    <img src="/images/nevada-4794870_1920.jpg" alt="Dodge Charger">
    <h3>Contact Us For Inventory Inquires!</h3>
    <form>
        <label>Name:</label><br>
        <input type="text" id="name"placeholder="Enter..."><br>
        <label>Email:</label><br>
        <input type="text" id="email"placeholder="Email..."><br>
        <label>Number:</label><br>
        <input type="text" id="number"placeholder="Number..."><br>
        <label>Message:</label><br>
        <textarea name="message" id="message" cols="40" rows="5"></textarea><br>
        <p>Select a Response Method</p>
        <input type="radio" id="emailradio" value="Email">
        <label for="email">Email</label>
        <input type="radio" id="phoneradio" value="Phone">
        <label for="phone">Phone</label><br>
        <button>Submit!</button>
    </form>
</body>
</html>